<h1 class="form-header">New Post</h1>

<%= form_with model: @post, html: { class: "form" } do |form| %>
  <div class="form__controls">
    <%= form.label :title, class: "form__label" %>
    <%= form.text_field :title, class: "form__text" %>
  </div>

  <div class="form__controls">
    <%= form.label :body, class: "form__label" %>
    <%= form.text_area :body, class: "form__textarea" %><br>
  </div>

  <div>
    <%= form.submit class: 'btn btn--primary' %>
  </div>
<% end %>
